*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(133, 143, 140);
}

.main{
    text-align: center;
    margin-top: 40vh;
}
#countLabel{
    display: block;
    font-size: 120px;
    text-align: center;
}

button{
    margin-left: 10px;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}